@import './styles/styles';


body {
  margin: 0;
  font-family: monospace;
  background: url('/images/background.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: monospace;
}
