.fake-button {
  background-color: $off-white;
  color: $blue;
  display: inline-block;
  padding: 1px;
  padding-left: 5px;
  text-align: center;
  text-decoration: none;
}

.button {
  @extend .fake-button;
  cursor:pointer;
  margin-right: 5px;
  padding: $xs-size;
}

.button-header-login {
  @extend .button;
  color: $dark-blue;
  padding: 5px;
  font-size: 0.9rem;
}

.signin-switch {
  @extend .button;
  margin: 0 20%
}

@media (max-width: 650px) {
  .button {
    margin-bottom: 5px;
  }
}
