.bookmark {
  background-color: #ddd;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: $dark-blue;

  a {
    color: $dark-blue;
    text-decoration: none;
  }

  p span {
      color: $blue;
    }

}

.bookmark:hover,
.bookmark:active {
  background-color: #C0DDF5;
}
