.header {
  background: $dark-blue;
  position: fixed;
  width: 100%;
  z-index:1000;
  padding: $s-size 0;
  opacity: 0.9;
}

.space-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  color: $off-white;
  text-decoration: none;
  margin-right: 2rem;
}

.header-content-container {
  margin: 0 2%;
}

.user {
  color:$off-white;
  margin-right: 20px;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .header-right-group {
    display: grid;
  }
}

.filters-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .filters-container {
    display: grid;
  }
}
