.header {
  background: $dark-blue;
  position: fixed;
  width: 100%;
  z-index:1000;
  padding: 10px 0;
}

.space-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  color: $off-white;
  text-decoration: none;
}

.content-container {
  margin: 0 4%;
}

.user {
  color:$off-white;
  margin-right: 20px;
}
